@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,800;1,300&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.banner {
    width: auto;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 65%;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.hero {
    width: 65%;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3% 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10% 0;
}

.ad-box {
    flex: 0;
    background-color: #3882f6;
    align-self: center;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    align-items: center;
    flex-basis: 120px;
    width: 70%;
    margin: 5%;
    padding: 36px;
}

.footer {
    flex: 0;
    flex-basis: 40px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 2%;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    gap: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

.hero {
    flex-basis: 400px;
    gap: 32px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 45%;
}

.hero img {
    width: 45%;
    height: auto;
}

.hero .main-text {
    font-size: 48px;
    font-weight: 800;
}

.hero .secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}

.hero .signup {
    color: inherit;
    font-size: 18px;
    border-radius: 8px;
    margin: 8px 0;
    padding: 8px 40px;
    border: 2px solid #1f2937;
    background-color: #3882f6;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    margin: 40px auto;
    text-align: center;
}

.info-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: wrap;
    gap: 32px;
}

.labeled-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labeled-image>img {
    border: 4px solid #3882f6;
    border-radius: 15%;
    width: 100%;
    height: auto;
    margin: 8px;
}

.labeled-image>div {
    text-align: center;
    width: 150px;
}

.quote-text {
    width: 50%;
    padding: 5px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-author {
    width: 50%;
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.ad-title {
    font-size: 24px;
    font-weight: 700;
}

.ad-subtitle {
    font-size: 18px;
}

.ad-box>.signup {
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
    padding: 8px 36px;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
}

.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
