@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

body>* {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 16px 200px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
}

.signup,
.ad-box {
    background-color: #3882f6;
}

.header,
.footer {
    flex-basis: 40px;
    /* padding: 16px; */
}

.header {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
}

.hero {
    flex-basis: 300px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 500px;
}

.information {
    flex-basis: 300px;
}

.labeled-image>img {
    border: 4px solid #3882f6;
    border-radius: 12px;
    width: 100px;
    height: 100px;
    margin: 8px;
}

.quote {
    flex-basis: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 800px;
    padding: 5px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-author {
    width: 800px;
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.ad-box {
    align-self: center;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    align-items: center;
    flex-basis: 120px;
    width: 1000px;
    margin: 20px 0;
}

.ad-title {
    font-size: 24px;
    font-weight: 700;
}

.ad-box>.signup {
    color: inherit;
    border-radius: 6px;
    padding: 4px 20px;
    border: 2px solid #f9faf8;
}

.information {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .footer {
    justify-content: center;
} */

.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.info-container {
    display: flex;
}
